<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info">
    <!--autoReload：修改后自动加载，可能会有延迟-->
    <!--throwConfigExceptions：NLog日志系统抛出异常-->
    <!--internalLogLevel：内部日志的级别-->
    <!--internalLogFile：内部日志保存路径，日志的内容大概就是NLog的版本信息，配置文件的地址等等-->
    <!--输出日志的配置，用于rules读取-->
    <targets>
        <!--write logs to file-->
        <!--将日志写入文件中,fileName可以指定日志生成的路径-->
        <target xsi:type="File" name="allfile" fileName="E:\Log\SchedulerManager\Info\${shortdate}.log"
                maxArchiveDays="7"
                maxArchiveFiles="10"
                archiveAboveSize="102400"
                layout="${longdate}——${uppercase:${level}}——${message}" />
        <!--同样是将文件写入日志中，写入的内容有所差别，差别在layout属性中体现。写入日志的数量有差别，差别在路由逻辑中体现-->
        <target xsi:type="File" name="errorLog" fileName="E:\Log\SchedulerManager\Error\${shortdate}.log"
                maxArchiveDays="1"
                maxArchiveFiles="4"
                archiveAboveSize="102400"
                layout="${longdate}——${uppercase:${level}}——${message}" />
    </targets>
    <rules>
        <!--路由顺序会对日志打印产生影响。路由匹配逻辑为顺序匹配。-->
        <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true"/>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Error" writeTo="errorLog" final="true"/>
        <logger name="*" minlevel="Info" writeTo="allfile" final="true"/>
        
    </rules>
</nlog>